/* General Styles */
:root {
  --primary-color: #333;
  --secondary-color: #ff8e8e;
  --text-color: #fff;
  --hover-color: #ff0000;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #626262;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 5px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-image: url(img/headerBG.jpg);
}

nav ul {
  list-style-type: none;
  padding: 5px 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li:hover {
  background-color: var(--hover-color);
  border-radius: 5px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 20px;
}

.intro {
  padding: 250px 0;
  background: url('background.jpg') no-repeat center center;
  background-size: cover;
  color: var(--text-color);
  text-align: center;
}

.intro img {
  display: block;
  margin: 0 auto;
}

.profile-image {
  width: 150px; 
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.intro p {
  font-size: 20px;
}

section {
  padding: 50px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 2px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.project {
  background-color: var(--secondary-color);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.project-content {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
}

.project-description {
  max-width: 60%;
}

.project-image {
  width: 35%; 
  height: auto;
  border-radius: 5px;
  margin-left: 20px;
}

.project h3 {
  margin-top: 0;
  font-size: 24px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.skills-list li {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 5px;
  font-size: 18px;
}

#contact-form {
  max-width: 600px;
  margin: 0 auto;
}

#contact-form label {
  display: block;
  margin: 10px 0 5px;
}

#contact-form input, #contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#contact-form button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contact-form button:hover {
  background-color: var(--hover-color);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  .intro {
    padding: 100px 0;
  }

  .intro h1 {
    font-size: 36px;
  }

  .intro p {
    font-size: 16px;
  }

  .project-content {
    flex-direction: column;
  }

  .project-image {
    margin: 20px 0 0 0;
    width: 100%;
  }
}
